/target/*
/midis/*
/exports/*
/presets/*
/PartPresets/*
/.idea/
.settings
.project
.classpath
/.proxyai/
1500
*.iml
*.mid

*.txt
*.xml
!GENERATOR_REFACTOR_TEST_GUICONFIG.xml
!GENERATOR_REFACTOR_TEST_OUTPUT2.mid
*.sf2
*.wav
*.7z
*.zip
*.bat
*.lnk
/*.jar
/*.exe
